.mais-vendidos{
    display: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid #8833ab;
    border-radius: 5px;
    background-color: #ffff;
    max-height:2000px; 
    /*  max-height:px;  altura com todas as opçoes*/
    overflow: hidden;
    transition: 0.5s;
    text-align: center;
    transition:max-height 0.5s;
    margin-bottom: 40px;
}

.mais-vendidos-minimizado {
        max-height:45px; 
        overflow: hidden;
        transition:max-height 0.5s;
        transition: 0.5s;
        text-align: center;
        margin-bottom: 5px;
}

.mais-vendidos h1{
    font-size: 22px;
    color: #8833ab;
    padding-left: 25px;
    padding-top: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-weight:600;
    border-radius: 5px;

}

.image img{
    height: 150px;
    width: 100px;
    border-radius: 10px;
}

.mais-vendidos li{
    list-style: none;
    border-bottom: 2px solid #adadad;
    padding-bottom: 20px;
    padding: 10px;
}


.product{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-product{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    padding-right: 10px;
}

.value-product{
    font-size: 14px;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}


